<div class="row">
	<div class="col-sm-12 text-center">
		<h1>{{ title }}</h1>
		<p><b>LinkedIn:</b><a href="https://www.linkedin.com/in/lisamayha"> lisamayha</a></p>
		<p><b>GitHub:</b><a href="https://github.com/lmha"> lmha</a></p>
	</div>
</div>

<br><br>

<div class="row">
	<div class="row">
		<div class="col-sm-12 section_header text-center">
			<p><h4>Fruit Stand</h4></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<p>Web application that allows users to add products and customers and place orders</p>
		</div>
		<div class="col-sm-12 text-center">
			<p>Built with JavaScript, MongoDB, Express, Angular.js, Node.js, and Bootstrap</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<a href="fruit-stand.herokuapp.com">Link to View Project</a> | 
			<a href="github.com/lmha/Mini_Store_AngularJS_Pt2">Link to View Code</a>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="row">
		<div class="col-sm-12 section_header text-center">
			<p><h4>Ajax Notes</h4></p>
		</div>
	</div>
	<div class="col-sm-12 text-center">
		<p>Web application that allows users to create, read, update, and delete notes</p>
	</div>
	<div class="col-sm-12 text-center">
		<p>Built with Ruby on Rails</p>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<a href="ajax-notes.herokuapp.com">Link to View Project</a> | 
			<a href="github.com/lmha/Ajax_Notes_RoR">Link to View Code</a>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="row">
		<div class="col-sm-12 section_header text-center">
			<p><h4>Black Belt</h4></p>
		</div>
	</div>
	<div class="col-sm-12 text-center">
		<p>Web application that allows users to login/register, update their profile, and </p>
	</div>
	<div class="col-sm-12 text-center">
		<p>Built with JavaScript, MongoDB, Express, Angular.js, Node.js, and Bootstrap</p>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<a href="black-belt-ror.herokuapp.com">Link to View Project</a> | 
			<a href="https://github.com/lmha/Black_Belt_RoR">Link to View Code</a>
		</div>
	</div>
</div>