<div class="row">
	<div class="col-sm-12 text-center">
		<h1>{{ title }}</h1>
		<p><b>LinkedIn:</b><a href="https://www.linkedin.com/in/lisamayha"> lisamayha</a></p>
		<p><b>GitHub:</b><a href="https://github.com/lmha"> lmha</a></p>
	</div>
</div>

<br><br>

<div class="row">
	<div class="row">
		<div class="col-sm-12 section_header">
			<p><b>EDUCATION</b></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-2">
					<p>2014</p>
				</div>
				<div class="col-sm-7">
					<p><b>Coding Dojo</b></p>
				</div>
				<div class="col-sm-3 city">
					<i>Mountain View, CA</i>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p><b>Fellow Full Stack Web Developer</b></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<p>2008 - 2012</p>
				</div>
				<div class="col-sm-7">
					<p><b>University of California, San Diego</b></p>
				</div>
				<div class="col-sm-3 city">
					<i>La Jolla, CA</i>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p><b>B.Sc. Human Biology</b></p>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="row">
		<div class="col-sm-12 section_header">
			<p><b>SKILLSET</b></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p><b>Frontend</b> Angular.js, jQuery, HTML, CSS, SASS, Twitter Bootstrap, Zurb Foundation</p>
		</div>
		<div class="col-sm-12">
			<p><b>Backend</b> JavaScript, Express.io, Node.js, Ruby, Ruby on Rails, PHP, CodeIgniter</p>
		</div>
		<div class="col-sm-12">
			<p><b>Database</b> MySQL, MongoDB</p>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="row">
		<div class="col-sm-12 section_header">
			<p><b>RELEVANT EXPERIENCE</b></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<p>05/14 - 09/14</p>
		</div>
		<div class="col-sm-7">
			<p><b>Web Developer Fellow</b>, Coding Dojo</p>
		</div>
		<div class="col-sm-3 city">
			<i>Mountain View, CA</i>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-2">
			<p>&#8226; Manufacture ELISA plates</p>
			<p>&#8226; Respond to customer inquiry calls or emails and perform troubleshooting to identify problems and provide technical support for products. Assess customers’ needs and issues in order to deliver an ideal situation</p>
			<p>&#8226; Cultivate relationships with new and existing accounts with marketing campaigns regarding new services and promotions</p>
			<p>&#8226; Maintain all billing and collections records</p>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-sm-2">
			<p>09/12 - 04/13</p>
		</div>
		<div class="col-sm-7">
			<p><b>Manager</b>, Great Clips</p>
		</div>
		<div class="col-sm-3 city">
			<i>San Jose, CA</i>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-2">
			<p>&#8226; Manage every aspect of the business as both a manager and co-owner</p>
			<p>&#8226; Mentor, train, and develop employees</p>
			<p>&#8226; Invent new ways to innovate the business and drive efficiency/effectiveness</p>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-sm-2">
			<p>09/10 - 04/13</p>
		</div>
		<div class="col-sm-7">
			<p><b>Child Care Provider</b></p>
		</div>
		<div class="col-sm-3 city">
			<i>San Diego, CA</i>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-2">
			<p>&#8226; Provide care as well as social and educational development</p>
		</div>
	</div>
</div>